/* @import "~@flaticon/flaticon-uicons/css/all/all"; */
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Raleway:wght@100&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto:wght@100;300&family=Rubik:wght@300&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the theme colors */
:root{
    --primary: #ff4000;
    font-size: 1rem;
}

body{
    position: relative;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}  


/* header and navigation */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    z-index: 20;
    background: #ffffff;
    box-shadow: 50px 50px 50px 50px rgba(255,255,255,0.8);
}

.logo{
    font-size: 2rem;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* search bar */
.search{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.search:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.search i{
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    transition: .5s;
}

.search i:hover{
    color: var(--primary);
}

.search input{
    display:none;
}

/* when search is active- class active (.active) is added with javascript */
.search.active{
    width: 300px;
    border-radius: 50px;
    justify-content: flex-start;
}

.search.active input{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
}

/* navbar */
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.nav li{
    list-style: none;
}

.nav li a, .nav-mobile li a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    transition: .3s;
    padding: 10px;
}

.nav li:hover a,
.nav-mobile li:hover a{
    color: var(--primary);
}


.check-out{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.check-out:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.check-out i{
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
}

.check-out span{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 5px;
    background: var(--primary);
    color: #ffffff;
    font-weight: 300;
    font-size: .8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    bottom: 10px;
}

.menu{
    display: none;
    color: #000000;
    font-size: 2rem;
    z-index: 100;
}

.nav-mobile{
    /* display:none; */
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: .5s;
    visibility: hidden;
    transform: translateX(100%);
}

.nav-mobile li{
    list-style: none;
    margin-bottom: 20px;
}

/* 
*
*Banner 
*
*/
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: .5s;
    perspective: 1000px;
}

/* 
* banner content
*/
.banner .content h1{
    font-family: 'Berkshire Swash', cursive;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 5rem;
    line-height: 1rem;
    letter-spacing: 2px;
    top:45%;
    transform: translateY(-50%);
    z-index: 10;
} 

.banner .content h1 i{
    color: var(--primary);
    margin-left: 20px;
    transform: rotateZ(-30deg);
}

.banner .content h2{
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-family: 'Berkshire Swash',cursive;
    line-height: 1em;
    letter-spacing: 5px;
    top: 58%;
    transform: translateY(-50%);
    z-index: 10;
}


.banner .imgBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    box-shadow: 5px 5px 10px rgba(0, 0,0,0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: .5s;
    transform-style: preserve-3d;
}

.banner .imgBox.active {
    transform: translate(-50%, -50%) rotateY(180deg);
}

.banner .imgBox .food{
    position: absolute;
    backface-visibility: hidden;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
    transition: .5s;
}

.banner .imgBox .food img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.banner .imgBox .description{
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    padding: 70px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1);
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.description p{
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.description .download{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 15px;
}

.description .download li{
    list-style: none;
    gap:10px;
    border: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 5px 5px 0;
}

.description .download li img{
    max-width: 200px;
}

.description .price{
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 20px;
}


/* button */
.btn{
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .3s;
    z-index: 1000;
}

.btn.active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
}

.btn:hover{
    color: var(--primary);
}


/* order button */
.order{
    position: absolute;
    left: 70%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.order i{
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    transition: .5s;
}

.order:hover i{
    color: var(--primary);
}

.order:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
}


/* 
*
* food selections
*
 */

.banner .selections{
    position: relative;
    height: 100vh;
    width: 20%;
}

.banner .selections h1{
    position: absolute;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 800;
    font-size: 9rem;
    opacity: .1;
    text-align: center;
    line-height: 8rem;
    top: 50%;
    left: -20%;
    transform: translateY(-50%) rotateZ(90deg);
}

.banner .selections img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.banner .selections .option{
    position: absolute;
    background: #ffffff;
    width: 110px;
    height: 110px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner .selections .option:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
}

.banner .circle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
    animation: animate 10s linear infinite;
}

/* animate the selection circles */
@keyframes animate {
    0%, 100% {
        transform: translateY(-50%) rotateZ(0);
    }
    30%{
        transform: translateY(-50%) rotateZ(10deg);
    }
    60%{
        transform: translateY(-50%) rotateZ(-10deg);
    }
}

.banner .selections .circle .one{
    top: 5%;
    right: 75%;
}

.banner .selections .circle .two{
    top:50%;
    right: 90%;
    transform: translateY(-50%);
}

.banner .selections .circle .three{
    bottom: 5%;
    right: 75%;
}


/* 
* social media icons
*/
.social{
    position: absolute;
    left: 100px;
    bottom: 40px;
    display: flex;
    gap: 20px;
    z-index: 10;
}

.social li{
    list-style: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 2px;
    background: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social li:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
}

.social i {
    color: #000000;
    font-size: 1.5rem;
    transition: .3s;
    padding: 5px;
}

.social i:hover{
    color: var(--primary);
}


/* 
* footer section
 */
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 50px;
    background: var(--primary);
    opacity: .6;
    border-top-left-radius: 30px;
    box-shadow: 20px 20px 20px 60px rgba(255, 255, 255, .8);
    z-index: 10;
}

footer .copyright{
    font-weight: 300;
    font-size: 1.1rem;
    color: #ffffff;
}


